.cars-control-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    gap: 10px;
}

.create-update-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.create-car-container,
.update-car-container {
    padding: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.create-car-name,
.update-car-name {
    border-radius: 10px;
    min-height: 30px;
}

.create-car-button,
.update-car-button,
.generate-button {
    border-radius: 10px;
    padding: 10px;
    font-size: 22px;
    background-color: darkcyan;
}

.create-car-button:hover,
.update-car-button:hover,
.generate-button:hover {
    background-color: cyan;
}

.action-with-cars-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.race-button,
.reset-button {
    border-radius: 10px;
    padding: 10px;
    font-size: 22px;
    background-color: cadetblue;
}

.race-button:hover,
.reset-button:hover {
    background-color: aquamarine;
}

.item-container {
    border-bottom: 2px dashed cyan;
}

.page-title {
    color: white;
    padding: 15px;
    margin-left: 50px;
}

.page-control-container {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-left: 50px;
    align-items: center;
}

.number-page {
    color: white;
    font-size: 22px;
}

.page-button {
    display: flex;
    gap: 40px;
}

.button-prev,
.button-next {
    padding: 5px;
    background-color: darkcyan;
    border-radius: 10px;
}

.button-prev:disabled:hover,
.button-next:disabled:hover {
    background-color: darkcyan;
}

.button-prev:hover,
.button-next:hover {
    background-color: cyan;
}

.cars-list {
    margin: 20px;
    margin-top: 15px;
}

.item-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.select-remove-container {
    display: flex;
    gap: 15px;
}

.name-car {
    color: white;
    font-size: 18px;
}

.car-img {
    width: 75px;
    height: 60px;
    background-color: white;
    mask-image: url(../../svg/car2.svg);
    position: absolute;
    margin-left: 68px;
}

.select-button,
.remove-button {
    background-color: #7f46e2;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

.select-button:hover,
.remove-button:hover {
    background-color: blueviolet;
}

.select-button:disabled,
.remove-button:disabled {
    background-color: #7f46e2;
    cursor: default;
    opacity: 0.8;
}

.select-button:disabled:hover,
.remove-button:disabled:hover {
    background-color: #7f46e2;
}

.start-button,
.stop-button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: darkcyan;
    cursor: pointer;
}

.start-button:disabled,
.stop-button:disabled {
    opacity: 0.8;
    background-color: darkcyan;
    cursor: default;
}

.start-button:disabled:hover,
.stop-button:disabled:hover {
    background-color: darkcyan;
}

.start-button:hover,
.stop-button:hover {
    background-color: cyan;
}

.disabled-area {
    pointer-events: none;
    opacity: 0.6;
}

.car-control {
    display: flex;
    align-items: center;
    position: relative;
    height: 80px;
}

.start-stop-container {
    display: flex;
    gap: 5px;
    /* width: 200px;
    height: 300px; */
    position: relative;
}

.win-flag {
    width: 80px;
    height: 70px;
    background-color: red;
    mask-image: url(../../svg/flag.svg);
    position: absolute;
    right: 80px;
}