.header {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-button {
    padding: 10px;
    font-size: 26px;
    background-color: #7f46e2;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.header-button:hover {
    background-color: blueviolet;
}