.winners-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.winner-item-container {
    display: flex;
    color: white;
}

.win-img {
    width: 75px;
    height: 60px;
    background-color: white;
    mask-image: url(../../svg/car2.svg);
}

.id-item-field,
.img-item-field,
.name-item-field,
.wins-item-field,
.time-item-field {
    border: 1px solid white;
    padding: 10px;
    width: 60px;
    text-align: center;
}

.img-item-field,
.name-item-field {
    width: 90px;
}

.sorting {
    background-color: cadetblue;
    cursor: pointer;
}
.winners-list {
    margin-top: 20px;
}
